@use "variables.scss" as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: math;
	color: $white-color;
	color-scheme: dark;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	background: $background-color;
	min-height: 100vh;
}

input {
	background: $background-color;
	border: 1px solid $border-color;
	padding: 8px 12px;
	border-radius: 6px;
	font-size: 14px;
	width: 100%;

	&:focus {
		outline: 1px solid $border-color;
	}
}

button {
	background: $background-color;
	border: 1px solid $border-color;
	padding: 8px;
	border-radius: 6px;
	font-size: 14px;
	cursor: pointer;
	transition: all 0.2s;

	&:hover {
		background-color: $background-color-light;
	}
}

hr {
	margin-top: 12px;
	border: 1px solid $border-color;
	border-bottom-color: transparent;
}
