@use "variables.scss" as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: math;
	color: $white-color;
	color-scheme: dark;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	background: $background-color;
	min-height: 100vh;
}
