// Цвета фона
$background-color: #1b1b1e;
$background-color-light: #202124;
$grid-background: linear-gradient(#1f1f1f 1px, transparent 1px),
	linear-gradient(90deg, #1f1f1f 1px, transparent 1px);

// Границы
$border-color: #49494b;

// Белые цвета
$white-color: #fafafa;
$white-color-hover: #bfbfbf;

// Серые цвета
$gray-color: #aaa;
$gray-background: #2d2e31;
$gray-background-hover: #3b3c3f;

// Акцентные цвета
$blue-color: #3369f3;
$green-color: #8bc34a;
$red-color: #e91e1e;
