@use "../../../variables" as *;

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 425px;
	min-height: 100vh;
	margin: auto;
	padding-left: 16px;
	padding-right: 16px;

	.profile {
		width: 100%;

		.title-wrap {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 17px;

			a:hover {
				text-decoration: underline;
			}

			h1 {
				font-size: 17px;
				font-weight: 400;

				.profile-login {
					color: $green-color;
				}
			}
		}

		#profile-form {
			.profile-avatar {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 12px;
				margin-top: 12px;

				img {
					max-width: 256px;
					max-height: 256px;
					height: 100%;
					width: 100%;
					border-radius: 100%;
				}

				.action-wrap {
					display: flex;
					flex-direction: column;
					gap: 12px;
					width: 100%;

					input {
						height: fit-content;
					}

					button {
						width: 100%;
					}
				}
			}

			.input-wrap {
				display: flex;
				flex-direction: column;
				gap: 12px;
				margin-top: 12px;
			}

			.button-wrap {
				width: 100%;
				display: flex;
				margin-top: 12px;

				.save-button {
					width: 100%;
				}
			}
		}

		.profile-action {
			margin-top: 12px;

			.logout-button {
				background-color: $red-color;
				border-color: #f44336;
				width: 100%;
			}
		}
	}
}
